.pelicula img{
    margin-bottom: 15px;
    width: 100%; 
    height: auto;
    border-radius: 10px;
}

.pelicula{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%; 
    max-width: 225px; 
    margin: 20px ; 
}

.pelicula h3{
    width: 100%; 
}

.botones{ 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    border-radius: 10px;
}

.btn {
    background-color: #111;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.btn:hover {
    color: #111;
    background-color: white;
}