nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 20px;
    background-color: #a7fb17;
    color: #fff;
}

.main-header li, 
.logo li{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 100px;
    border-radius: 90%;
    margin-left: 10px;

}
h1 {
    font-weight: 400;
    padding: 0 30px;

}

div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    
}
div a:hover{
    font-weight: bold;
    color:#ccb8d5
 }

.main-header li:first-child {
    font-weight: bold;
}

.logo{
    margin: 3px;
}


