nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    background-color: rgb(169, 166, 166);
    color: #fff
}

.main-header li, 
.logo li{
    margin: 0 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.logo img {
    width: 100px;
    border-radius: 90%;
    margin-left: 10px;

}
h1 {
    font-weight: 400;
}

h1,
main {
    padding: 0 30px;
    text-align: center;
}

div ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.main-header li:first-child {
    font-weight: bold;
}