.detalle_pelicula {
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #2c2c2c; 
    border-radius: 10px;
    color: #fff;
    margin: 15px;
}

.detalle_contenido {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    align-items: flex-start;
}

.detalle_imagen_container {
    width: 30%; 
}

.detalle_imagen {
    width: 100%;
    border-radius: 8px;
}

.info_container {
    width: 60%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.detalle_titulo {
    font-size: 40px;
    margin-bottom: 10px;
    color: white;
}

.detalle_info {
    font-size: 18px;
    color: #ccc;
    margin-bottom: 10px;
}

.detalle_info strong {
    color: #fff;
    font-weight: bold;
}


